.bouncing-blod {
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;
    will-change: transform;
    position: absolute;
    z-index: 1;
    left: 0; top: 0;
    transform-origin: left top;
}
.bouncing-blod-blue {
    background: #4783c7;
}
.menu{
    color: #fff;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
}
.bouncing-blod-purple {
    background: #8c8ff1;
}
.bouncing-blod-pink {
    background: #ff13c850;
}
.bouncing-blods-container {
    position: fixed;
    z-index: -1;
    top: 0; left: 0;
    width: 100;
    height: 100;
}
.menu:hover::before {
    transform: scaleX(1);
}